Body{
    background-color:black;
}
h1 {
    text-align: center;
    font-family: 'Chelsea Market', serif;
    color: red;
    font-size: 42px;  
    margin: ;
}

h1 p {
    color:blue;
    font-size: 50px;
}
h1 p2{
    color:yellow;
    font-size: 42px;

}
.allButtons {
    display: flex;
    justify-content: center;
    
}
    
.SecondSetButtons {
    display: flex;
    justify-content: center;
}
#Play {
background-color: black;
color: yellow;
font-size: 22px;
height: 0;
width: 0;
border-left: 100px solid red;
border-right: 100px solid transparent;
border-bottom: 100px solid transparent;
border-top: 100px solid transparent;
justify-content: left;
position: absolute;
margin: 30px 0px 25px 300px;
}

.Score {
    background-color: blue;
    color: white;
    border: 2px solid red;
    position: relative;
    display: inline;

}

h2 {
    color: white;
}
#play:hover {

box-shadow: inset 15px red;
box-sizing: border-box;
}

#green {
background-color: green;
border-top-left-radius: 200px;
width: 200px;
height: 200px;
border:10px solid white;
cursor: pointer;
/* padding: 85px;
border-radius: 50%; 
border: 6px solid;
height: 50px;
width: 25px; */
display: block;
position: relative;
}

#Play:hover {
    opacity: 0.5
}

.button:hover {
    box-shadow: inset 0px 0px 15px cyan;
    box-sizing: border-box;
}

.ThirdButtons #Instructions:hover {
opacity: 0.5
}

.ThirdButtons #Replay:hover {
    opacity: 0.5
    }

.ThirdButtons #Quit:hover {
        opacity: 0.5
        }

#red {
background-color: red;
border-top-right-radius: 200px;
width: 200px;
height: 200px;
border:10px solid white;
cursor: pointer;
/* padding: 85px;
border-radius: 50%;
border: 6px solid;
height: 50px;
width: 25px; */
position: relative;
}

.center p {
    text-align: center;
    align-content: center;
    font-size: 40px;
    margin: 75px 5px 10px 25px;
    color:white;
    font-weight: bold;
}
#yellow {
background-color:yellow;
border-bottom-left-radius: 200px;
width: 200px;
height: 200px;
border:10px solid white;
cursor: pointer;
/* padding: 85px;
border-radius: 50%;
border: 6px solid;
height: 50px;
width: 25px; */
position: relative;


}


#blue {
background-color: blue;
border-bottom-right-radius: 200px;
width: 200px;
height: 200px;
border:10px solid white;
cursor: pointer;
/* padding: 85px;
border-radius: 50%;
border: 6px solid;
height: 50px;
width: 25px; */
position: relative;

}

#Quit {
    font: bold;
    width: 100px;
    height: 100px;
    background: #ff4040;
    position: relative;
   }
  #Quit:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    border-bottom: 29px solid #ff4040;
    border-left: 29px solid #fff;
    border-right: 29px solid #fff;
    width: 42px;
    height: 0;
   }
   #Quit:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    border-top: 29px solid #ff4040;
    border-left: 29px solid #fff;
    border-right: 29px solid #fff;
    width: 42px;
    height: 0;
  
   }

.ThirdButtons {
    display: flex;
    justify-content: space-evenly;
    margin: 60x 50px 60px 50px;
    padding: 2.5%;
}

#Instructions {
    background-color: yellow;
    font-weight: bold;
    color: red;
    height: 100px;
    width: 100px;
    align-content: center;
    border-color: yellow;  
}

#Replay {
    background-color: green;
    color: yellow;
    font-weight: bold;
    height: 100px;
    width: 100px;
    border-color: green;
}

footer {
    color: antiquewhite;
    font-style: italic;
    justify-content: flex-end
}

.center {
    display: inline-block;
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 100%;
    background-color:black;
    top:450px;
    left: 860px;
    text-align: center;
    color:white;

}




